XML/amazon.dtd

<!ELEMENT products (product+)>
<!ELEMENT product (id, name, price, quantity, category)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT category (#PCDATA)>

<!ATTLIST product id ID #REQUIRED>
<!ATTLIST category category (Electronics|Clothing|Books) "Books">

<!ATTLIST category category CDATA #REQUIRED>